<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
    <script rel="text/javascript" src="static/js/customscript.js"></script>
    <title>Welcome</title>
</head>
<body>

<div class="container">
  <h2>Welcome to the Virtual Career Fair Site</h2>
  <p>Select the event! </p>
  <p>This will be invitation only and validated(later)</p>

      Select the Event: <select onchange = "getNext(value)">
    <option value = "" >--Select Event--</option>
  <option value = "tamu" >Texas A&M Virtual Career Fair</option>
      <option value= "sxsw" >SXSW Virtual Fair</option>
      <option value = "mlh" >MLH Virtual Meetup</option>
</select>
  </div>
</div>
</body>
</html>